#squeeze-area {
  width: 100%;
  padding: 0 100px;
}
#squeeze-box {
  border: var(--thick-border);
  border-radius: 10px;
  width: 100%;
  padding: 30px 30px;
}
._text_narrow {
  display: none;
  width: 100%;
  text-align: start;
  margin: 0!important;
}
._form_group {
  display: flex;
  justify-content: end;
}
@media (max-width: 1400px) {
  #squeeze-area {
    padding: 0 20px;
  }
}

@media (max-width: 767.5px) {
  #squeeze-area {
    padding: 0 10px;
  }
  #squeeze-box {
    border: var(--thick-border);
    border-radius: 10px;
    width: 100%;
    padding: 30px;
  }
}
@media (max-width: 576px) {
  #squeeze-box {
    padding: 30px 10px;
  }
  ._text_wide {
    display: none;
  }
  ._text_narrow {
    display: block;
  }
  ._form {
    width: 100% !important;
  }
  ._form_group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin-top: 16px !important;
    margin-bottom: 16px !important;
  }
  button {
    width: 100%;
    margin: 0 !important;
  }
}
