#content {
  background-color: var(--annonymous-bg-color);
}

main {
  width: 400px;
  padding: 20px;
  animation-name: mainFadein;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  background-color: var(--annonymous-card-bg-color);
}
@keyframes mainFadein {
  from {opacity: 0; transform: translateY(20px);}
  to {opacity: 1;}
}

.form-group {
  width: 300px;
}

label {
  margin-bottom: 2px!important;
  padding-bottom: 3px;
  vertical-align: bottom;
}

._alert {
  width: 300px;
  margin: 0 auto;
}
input,
textarea,
select {
  background-color: rgb(235, 235, 235) !important;
  border-color: #dee2e6 !important;
  color: rgb(30, 30, 30) !important;
}

input::placeholder,
textarea::placeholder {
  color: rgb(180, 180, 180) !important;
}

@media (max-width: 768px) {
  main {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .form-group {
    width: 100% !important;
  }
}
