._created_updated {
  padding: 0 5%;
  width: 90%;
  max-width: 1000px;
  margin: 20px 0 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
._created, ._updated {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
}
#form {
  padding: 0 5%;
  width: 90%;
  max-width: 1000px;
  margin: 20px 0;
}
#main-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
._row {
  margin-top: 10px;
  width: 100%
}
#submitBtn {
  margin-left :auto;
  margin-right: auto;
  margin-top: 20px;
}
label {
  font-weight: bold;
}
._alert {
  color: red;
  font-size: 0.8rem;
  margin-top: 5px!important;
  height: 10px;
}
@media (max-width: 960px) {
  #submitBtn {
    margin-bottom:50px!important;
  }
}
@media (max-width: 768px) {
  #form {
    width: 100%;
  }
  ._created_updated {
    padding: 0;
  }
}
@media (max-width: 576px) {
  #form {
    padding: 0 10px;
  }
  ._created_updated {
    width: 100%;
    padding: 10px 20px 0;
    margin-top: 0;
    flex-direction: column;
  }
}
