@media (prefers-color-scheme: light) {
  :root {
    --bg-color: rgb(230, 230, 230);
    --card-bg-color: rgb(240, 240, 240);
    --form-bg-color: rgb(235, 235, 235);
    --disabled-form-bg-color: rgb(120, 120, 120);
    --no-active-task-box-bg-color: rgba(0, 0, 0, 0.3);
    --placeholder-color: rgb(180, 180, 180);
    --modal-window-color: rgb(240, 240, 240);
    --modal-message-box-bg-image: linear-gradient(0, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
    --button-hoverd-bg-color: rgba(0, 0, 0, 0.1);
    --alert-bg-color: rgb(255, 220, 220);
    --form-clear-bg-color: rgba(200, 255, 200, 0.7);
    --pagination-bg-color: rgb(240, 240, 240);
    --bg-gold: linear-gradient(135deg, #B67B03 0%, #DAAF08 12.5%, #FFFFFF 20%, #FEE9A0 37.5%, #DAAF08 42.5%, #B67B03 45%, #B67B03 50%, #DAAF08 62.5%, #FEE9A0 75%, #DAAF08 92.5%, #B67B03 100%);
    --scrollbar-bg-color: rgb(220, 220, 220);
    --scrollbar-thumb-color: rgb(150, 150, 150);

    --thick-border: 2px solid rgb(200, 200, 200);
    --middle-border: 1px rgb(200, 200, 200) solid;
    --thin-border: 1px solid rgb(230, 230, 230);
    --form-border-color: #dee2e6;

    --font-color: rgb(30, 30, 30);
    --font-color-dense: black;
    --logo-font-color: rgb(50, 50, 50);
    --font-gray: rgb(150, 150, 150);
    --disabled-form-font-color: rgb(60, 60, 60);
    --pagination-font-color: rgb(60, 60, 60);
    --btn-font-color: rgb(240, 240, 240);

    --completed-color: rgb(0, 200, 0);
    --completed-color-dark: rgb(0, 120, 0);
    --all-completed-color: rgb(200, 0, 0);
    --comp-btn-animation-color: rgb(210, 210, 210);
    --clear-bg-color: rgba(200,255,200, 0.7);
    --focus-clear-bg-color: rgba(200,255,200, 0.3);
    --focus-clear-border-color: rgb(30,255,60);
    --clear-shadow: 0 0 0 .25rem rgba(13, 255, 60, 0.25);


    --theme-color1: #4d6ea0;
    --theme-color1-hover: #374254;

    --theme-color2: #193f76;
    --theme-color2-hover: #1b2b45;

    --theme-color3: rgb(150, 60, 180);
    --theme-color3-hover: rgb(90, 30, 120);

    --theme-color4: rgb(210, 150, 90);
    --theme-color4-hover: rgb(150, 90, 30);

    --theme-color5: rgb(80, 100, 120);

    --bg-default: rgba(200, 200, 200, 0.2);
    --bg-red: rgba(255, 200, 200, 0.2);
    --bg-orange: rgba(250, 200, 150, 0.2);
    --bg-yellow: rgba(255, 255, 200, 0.2);
    --bg-green: rgba(200, 255, 200, 0.2);
    --bg-blue: rgba(200, 200, 255, 0.2);
    --bg-indigo: rgba(220, 200, 255, 0.2);
    --bg-purple: rgba(255, 200, 255, 0.2);

    --f-red: #dc3545;
    --f-orange: #fd7e14;
    --f-yellow: #ffc107;
    --f-green: #198754;
    --f-blue: #0d6efd;
    --f-indigo: #6610f2;
    --f-purple: #6f42c1;

    --br-default: var(--font-color);
    --br-red: #dc3545;
    --br-orange: #fd7e14;
    --br-yellow: #ffc107;
    --br-green: #198754;
    --br-blue: #0d6efd;
    --br-indigo: #6610f2;
    --br-purple: #6f42c1;

    --star-color: rgb(200, 180, 50);

    --header-bg-color: linear-gradient(180deg, rgb(250, 250, 250), rgb(235, 235, 235));
    --hamburger-icon-border: 3px solid rgb(60, 60, 60);
    --hamburger-icon-bg-color: rgb(245, 250, 250);

    --footer-bg-color: rgb(60, 60, 60);
    --footer-font-color: rgb(220, 220, 220);

    --sidebar-link-font-color: rgb(70, 70, 70);

    --task-inset-shadow: inset 1px 5px 10px rgba(0, 0, 0, 0.2);
    --task-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);

    /* calendar */
    --sunday-bg-color: rgb(255, 150, 150);
    --saturday-bg-color: rgb(180, 180, 255);
    --month-header-bg-image: linear-gradient(-2deg, rgba(0, 0, 60, 0.1), rgba(0, 0, 60, 0.01));
    --selected-date-bg-color: rgba(0, 0, 0, 0.3) !important;
    --tag-btn-selected-bg-color: rgba(0, 0, 0, 0.5);

    /* past_completed_rate */
    --month-link-box-bg-color: rgb(235, 235, 235);
    --show-btn-is-hidden-font-color: rgb(180, 180, 180);
  }

  ._btn_primary {
    color: whitesmoke;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: rgb(50, 50, 50);
    --card-bg-color: rgb(30, 30, 30);
    --form-bg-color: rgb(60, 60, 60);
    --disabled-form-bg-color: rgb(30, 30, 30);
    --no-active-task-box-bg-color: rgba(0, 0, 0, 0.5);
    --placeholder-color: rgb(90, 90, 90);
    --modal-window-color: rgb(50, 50, 50);
    --modal-message-box-bg-image: linear-gradient(0, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    --button-hoverd-bg-color: rgba(150, 150, 150, 0.2);
    --alert-bg-color: rgb(90, 30, 30);
    --form-clear-bg-color: rgba(90, 160, 90, 0.7);
    --pagination-bg-color: rgb(60, 60, 60);
    --bg-gold: linear-gradient(135deg, #895b00 0%, #866c04 12.5%, #d7dcbb 20%, #c6b05f 37.5%, #866c04 42.5%, #895b00 45%, #895b00 50%, #866c04 62.5%, #c6b05f 75%, #866c04 92.5%, #895b00 100%);
    --scrollbar-bg-color: rgb(30, 30, 30);
    --scrollbar-thumb-color: rgb(60, 60, 60);


    --thick-border: 2px solid rgb(100, 100, 100);
    --middle-border: 1px rgb(100, 100, 100) solid;
    --thin-border: 1px solid rgb(90, 90, 90);
    --form-border-color: #666;

    --font-color: rgb(200, 200, 200);
    --font-color-dense: white;
    --logo-font-color: rgb(150, 150, 150);
    --font-gray: rgb(150, 150, 150);
    --disabled-form-font-color: rgb(60, 60, 60);
    --pagination-font-color: rgb(200, 200, 200);
    --btn-font-color: rgb(240, 240, 240);

    --completed-color: rgb(0, 150, 0);
    --completed-color-dark: rgb(0, 90, 0);
    --all-completed-color: rgb(150, 0, 0);
    --comp-btn-animation-color: rgb(60, 60, 60);
    --clear-bg-color: rgba(200,255,200, 0.3);
    --focus-clear-bg-color: rgba(200,255,200, 0.2);
    --focus-clear-border-color: rgb(30,255,60);
    --clear-shadow: 0 0 0 .25rem rgba(13, 255, 60, 0.25);


    --theme-color1: #224476;
    --theme-color1-hover: #213657;

    --theme-color2: #193f76;
    --theme-color2-hover: #1b2b45;

    --theme-color3: rgb(90, 0, 120);
    --theme-color3-hover: rgb(60, 0, 90);

    --theme-color4: rgb(150, 100, 20);
    --theme-color4-hover: rgb(90, 60, 0);

    --theme-color5: rgb(30, 40, 40);

    --bg-default: rgba(30, 30, 30, 1);
    --bg-red: rgba(30, 0, 0, 1);
    --bg-orange: rgb(30, 15, 0);
    --bg-yellow: rgba(30, 30, 0, 1);
    --bg-green: rgba(0, 30, 0, 1);
    --bg-blue: rgba(0, 0, 45, 1);
    --bg-indigo: rgba(15, 0, 30, 1);
    --bg-purple: rgba(30, 0, 15, 1);

    --f-red: rgb(240, 120, 120);
    --f-orange: rgb(210, 180, 120);
    --f-yellow: rgb(240, 240, 120);
    --f-green: rgb(120, 240, 150);
    --f-blue: rgb(120, 120, 240);
    --f-indigo: rgb(210, 180, 240);
    --f-purple: rgb(240, 180, 240);

    --br-default: var(--bg-color);
    --br-red: rgb(120, 0, 0);
    --br-orange: rgb(120, 60, 0);
    --br-yellow: rgb(120, 120, 0);
    --br-green: rgb(0, 120, 0);
    --br-blue: rgb(0, 0, 120);
    --br-indigo: rgb(45, 0, 90);
    --br-purple: rgb(120, 0, 60);

    --star-color: rgb(200,180,50);

    --header-bg-color: linear-gradient(180deg, rgb(40, 40, 40), rgb(30, 30, 30));
    --hamburger-icon-border: 3px solid rgb(150, 150, 150);
    --hamburger-icon-bg-color: rgb(60, 60, 60);

    --footer-bg-color: rgb(60, 60, 60);
    --footer-font-color: rgb(220,220,220);

    --sidebar-link-font-color: rgb(180, 180, 180);

    --task-inset-shadow: inset 1px 5px 10px rgba(00, 00, 00, 0.5);
    --task-shadow: 1px 1px 4px rgba(90, 90, 90, 0.4);

    --bs-red: rgb(200, 30, 30) !important;

    /* calendar */
    --sunday-bg-color: rgb(90, 0, 0);
    --saturday-bg-color: rgb(0, 0, 90);
    --month-header-bg-image: linear-gradient(-2deg, rgba(90, 90, 120, 0.1), rgba(90, 90, 120, 0.2));
    --selected-date-bg-color: rgba(0, 0, 0, 0.5) !important;
    --tag-btn-selected-bg-color: rgba(0, 0, 0, 0.8);

    /* past_completed_rate */
    --month-link-box-bg-color: rgb(80, 80, 80);
    --show-btn-is-hidden-font-color: rgb(90, 90, 90);
  }

  img {
    filter: brightness(200%);
  }

  .btn-secondary {
    background-color: rgb(70, 80, 80) !important;
    border-color: rgb(70, 80, 80) !important;
  }

  .btn-secondary:hover {
    background-color: rgb(40, 50, 50) !important;
    border-color: rgb(40, 50, 50) !important;
  }

  .btn-danger {
    background-color: rgb(150, 30, 30) !important;
    border-color: rgb(150, 30, 30) !important;
  }

  .btn-danger:hover {
    background-color: rgb(90, 0, 0) !important;
    border-color: rgb(90, 0, 0) !important;
  }
}

:root {
  --annonymous-bg-color: rgb(220, 220, 220);
  --annonymous-card-bg-color: rgb(240, 240, 240);

  --bs-blue: #0d6efd;
  --bs-green: #198754;
}
